In [1]:
import pandas as pd

In [2]:
# load and prepare the booking df
pd = pd.read_csv('National_ratings.csv')

In [3]:
pd.head()

,National_Gm_Num,Network,Date,Start Time,End Time,Duration,Away Team,Home Team,National Rating,Average Viewers (000),Average Households (000)
0,1,TNT,2016-10-25,7:33 PM,10:12 PM,159,NYK,Cleveland,2.2,2872,2044
1,2,TNT,2016-10-25,10:12 PM,12:56 AM,164,SAS,Golden State,2.6,3483,2428
2,3,ESPN,2016-10-26,8:04 PM,10:42 PM,158,OKC,Philadelphia,1.4,1583,1224
3,4,ESPN,2016-10-26,10:42 PM,1:12 AM,150,HOU,L.A. Lakers,1.7,2002,1518
4,5,TNT,2016-10-27,8:13 PM,10:49 PM,156,BOS,Chicago,1.6,1961,1430